<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link th:href="@{/css/commonStyle.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/JS/charts.js}"></script>
  <script type="text/javascript" th:src="@{/JS/index.js}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
    integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="thesarusuStyle.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>

</head>

<body class="bg-light">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <i class='fab fa-twitter pr-3' style='font-size:32px; color:white;'></i>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link text-white fs-5 pl-4 pr-4 border-right text-opacity-50" href="#">Overview</a>
              </li>
              <li class="nav-item active ">
                <a class="nav-link text-white fs-5  pl-4 pr-4 border-right" href="#">Tweets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-5 pl-4 pr-4 border-right" href="#">Sentiment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-5  pl-4 pr-4 border-right" th:href="@{'thesaurus/index'}"
                  href="#">Thesaurus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-5 pl-4 pr-4 " href="#">Search</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container-fluid col-10 ">
      <div class="row mt-3">
        <div class="col-md-12 bg">
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title ">General Lookup</h4>
              <p class="card-text">Check the information of your last search.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck ">
        <div class="card col-md-3 mt-3">
          <div class="card-header pt-4">
            <h5 class="card-title d-inline ">General sentiment</h5>
            <h5 class="card-title d-inline float-right">
              <a href="#" class="text-dark">
                <i class="fas fas fa-arrow-right"></i></a>
            </h5>
          </div>
          <div class="card-body" style="height: 200">
            <div>
              <canvas id="myChart" width="300" height="300"></canvas>
              <script th:inline="javascript">
                printSentiment(/*[[${sentiment_dataset}]]*/, 'myChart');
              </script>
            </div>
          </div>
        </div>
        <div class="card col-md-9 mt-3 d-inline">
          <div class="card-header pt-4">
            <h5 class="card-title d-inline ">General Thesaurus</h5>
            <h5 class="card-title d-inline float-right">
              <a href="#" class="text-dark" th:href="@{'thesaurus/index'}">
                <i class="fas fas fa-arrow-right"></i></a>
            </h5>
          </div>
          <div class="card-body" style="height: 100">
            <canvas id="bar" width="300" height="100"></canvas>
            <script th:inline="javascript">
              printThesaurus(/*[[${words_dataset}]]*/)
            </script>
          </div>
        </div>
      </div>
      <div class="card mt-3 pb-3">
        <div class="col-md-12">
          <div class="card-header pt-4">
            <h5 class="card-title d-inline pt-4">Images</h5>
            <a href="#" class="float-right" style="font-size: 20px;">
              <i class="fas fa-arrow-right"></i>
            </a>
          </div>
          <div class="card-body scrolling-wrapper" id="scrollingWp">
            <div class="card d-inline-flex p-2 m-2" th:each="img : ${images}">
              <a href="#" th:href="@{'/images/showImage/'+${img.id}}">
                <img class="p-2 hover-shadow imageStyle1" th:src="'data:images/jpg;base64,' +
                ${imgUtil.getImgData(img.image)}" />

              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 pb-3">
        <div class="col-md-12">
          <input class="d-none" id="maxPageNumber" th:value="${totalPages}">
          <input class="d-none" id="actualPage" th:value="${actualPage}">
          <div class="card-header mb-3 pt-4">
            <h5 class="card-title d-inline pt-10">Tweets</h5>
            <div class="row float-right text">
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <button id="previous" class="border-0 bg-transparent pt-1">
                      <i class="fas fa-arrow-left" style="font-size: 20px;"></i>
                    </button>
                  </li>
                  <li class="page-item">
                    <div id="currentPageText" class="pl-3 pr-3 mt-1" style="font-size: 17px;"
                      th:text="'Page '+${actualPage}+' of '+${totalPages}">yes</div>
                  </li>
                  <li class="page-item">
                    <button id="next" class="border-0 bg-transparent pt-1">
                      <i class="fas fa-arrow-right" style="font-size: 20px;"></i>
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="card-body" th:fragment="tweet_table" id="tweet_table">
            <div class="table-responsive border rounded">
              <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                  <tr>
                    <th>Text</th>
                    <th>Sentiment</th>
                    <th>Replies</th>
                    <th>See...</th>
                  </tr>
                </thead>
                <tr th:each="tw : ${tweets}">
                  <td th:text="${tw.text}">Text</td>
                  <td th:text="${tw.textSentiment}">Sentiment</td>
                  <td th:text="${#lists.size(tw.replies)}">Replies</td>
                  <td>
                    <a href="#" th:href="@{'/replies/showReplies/'+${tw.id}}" class="text-dark">
                      <i class="fas fas fa-arrow-right"></i>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  printTweetTable([[${ actualPage }]], [[${ totalPages }]])
  loadComponents();
</script>

</html>